.board {
    position: relative;
    width: 100vw; /* Use viewport width for full width */
    height: 100vh; /* Use viewport height for full height */
    margin: 20px; /* Remove margin to fit the board to the edges */
  }
  
  
/* Here we define a style for a hexagon defined through the coordinates of its corners */
  /* We add white and black hexagon subtypes */
    .hexagon {
        fill: #ddd; /* Fill color for the hexagon */
        stroke: #aaa; /* Border color for the hexagon */
        stroke-width: 4; /* Border width for the hexagon */
    }
    .hexagon-dark {
        fill: rgb(209,139,71);
        stroke: #aaa; /* Border color for the hexagon */
        stroke-width: 4; /* Border width for the hexagon */
    }
    .hexagon-mid {
        fill: rgb(232,171,111);
        stroke: #aaa; /* Border color for the hexagon */
        stroke-width: 4; /* Border width for the hexagon */
    }
    .hexagon-light {
      fill: rgb(255,206,158); /* Fill color for the hexagon */
      stroke: #aaa; /* Border color for the hexagon */
      stroke-width: 4; /* Border width for the hexagon */
  }
  .hexagon-river {
    fill: RGB(56,175,205); /* Fill color for the hexagon */
    stroke: #aaa; /* Border color for the hexagon */
    stroke-width: 4; /* Border width for the hexagon */
}

.hexagon-castles {
  fill: purple; /* Fill color for the hexagon */
  stroke: #aaa; /* Border color for the hexagon */
  stroke-width: 4; /* Border width for the hexagon */
}
.hexagon-white-castle {
  fill: aquamarine; /* Fill color for the hexagon */;
  stroke: #aaa; /* Border color for the hexagon */
  stroke-width: 4; /* Border width for the hexagon */
}
.hexagon-black-castle {
  fill: indigo; /* Fill color for the hexagon */
  stroke: #aaa; /* Border color for the hexagon */
  stroke-width: 4; /* Border width for the hexagon */
}


.hexagon, .hexagon-dark, .hexagon-mid, .hexagon-light, .hexagon-river, .hexagon-castles {
  transition: fill 1s ease; /* Add a transition effect to the fill color */
  
}

/* .hexagon:hover, .hexagon-dark:hover, .hexagon-mid:hover, .hexagon-light:hover, .hexagon-river:hover, .hexagon-castles:hover {
  fill: gray /* Change the fill color on hover */
 */

.board image {
  position: relative;
  z-index: 2;
}

.legal {
  fill: #00ff00;
  stroke: #aaa;
  stroke-width: 4;
}
.legalMoveDot {
  fill: rgba(100, 111, 64);
  cursor: pointer;
}
.legalMoveDot:hover {
  fill: rgba(100, 111, 64, 0.5);
}
.legalAttackDot {
  fill: rgba(255, 0, 0);
  cursor: pointer;
}
.legalAttackDot:hover {
  fill: rgba(255, 0, 0, 0.5);
}
.piece {
  cursor: pointer;
}
.takeback-button {
  position: absolute;
  top: 90px;
  right: 10px;
}

.coordinates-button {
  position: absolute;
  top: 50px; /* Adjust this value as needed */
  right: 10px;
}

.pass-button {
  position: absolute;
  top: 10px; /* Adjust this value as needed */
  right: 10px;
}
.takeback-button:hover, .coordinates-button:hover, .pass-button:hover {
  background-color: #45a049; /* Change the background color on hover */
}